// .table {
//     border-collapse: collapse;
//     tr {
//         border-bottom: 1px solid black;
//     }
//     td {
//         border-bottom: 1px solid black;  
//     }
//   }

table {
    border-collapse: collapse;
}
th {
    background-color:green;
    color:white;
    width:20rem;
}
th, td {
    width:20rem;
    text-align:center;
    border:1px solid black;
    padding:5px
  
}
  
